.test_career {
}

.career_content {
  background-color: #b3e5fc;
  -webkit-box-sizing: border-box;
  width: 100%;
  max-width: 71.25rem;
  min-width: 30rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.career_tile_box {
  display: table;
  position: relative;
  margin: 0 auto 3rem;
}

.career_title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.career_item_1 {
  padding: 3rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: snow;
  -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);
}

.career_item_1_title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  text-align: center;
}

.career_item_1_title_mini {
  margin-bottom: 2rem;
  font-size: 400;
  font-weight: 1rem;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}

.career_item_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-box-pack: center;
}

.career_item_content_img_box {
  width: 50%;
  margin-right: 0;
  margin-bottom: 1rem;
  text-align: center;
  right: 2rem;
  position: relative;
}

.career_img {
  width: 100%;
  height: 100%;
}

.career_description_box {
  width: 50%;
}

.career_description {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  font-size: 1rem;
}
