.Intro_content {
  width: 100%;
  max-width: 71.25rem;
  min-width: 30rem;
  margin-top: 10rem;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.idPicture_box {
  width: 50%;
  text-align: center;
}

.idPicture {
  border-radius: 60%;
}

.Intro_description_box {
  width: 50%;
  justify-content: center;
}

.Intro_description_1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}

.Intro_description_2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}

.Intro_description_3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #ccc;
  white-space: pre-wrap;
}

.Intro_description_item_box {
  display: flex;
  flex-flow: row nowrap;
}

.Intro_description_item {
  margin-left: 2rem;
  text-align: center;
  font-weight: 500;
}
