@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EliceDigitalBaeum_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "EliceDigitalBaeum_Regular";
  word-break: break-all;
  margin: 0;
}
a {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}

.intro_content {
  width: 100%;
  max-width: 71.25rem;
  min-width: 30rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.intro_tile_box {
  display: table;
  position: relative;
  margin: 0 auto 3rem;
}

.intro_title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.intro_item_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
}

.intro_item {
  width: 50%;
  margin-bottom: 2rem;
}

.item_box {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
}

.item_1 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.item_2 {
  font-weight: 400;
  font-size: 1rem;
}
